.colorNav{
    color: #E8D454;
    background: transparent;
    font-size: 20px;
    height:4rem;
}
.navLink{
    color:#E8D454!important;
    font-weight: 500;
}
.navLink:hover{
    background-color:#E8D454 ;
    color:#352B58!important;
}