.section1{
    padding-top: 200px;
    background-color: #352B58;
    padding-bottom: 170px;
    color: #E8D454;
}
.titleSection1{
    font-size: 70px;
}
.section2{
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #dadada;

}
.section3{
    padding-top:80px;
    padding-bottom: 70px;
}
