.Submitbtn {
background-color: blueviolet;
color:aliceblue;
}

.form-container{
 background-color:rgb(40,22,72);
 padding: 30px;
 border-radius: 10px;
 box-shadow: 0 0 10 0 #000;

}
.whitetext{
    color: aliceblue;
}

