.formPage{
    background-color: #dadcdd;
    padding-bottom: 43px;
}

.Submitbtn {
background-color: #603bbb;
color:white;
font-size: 18px;
font-weight: 700;
width: 300px;
border-radius: 10px;
float: center;
}
.Submitbtn:hover{
    color:#E8D454;
}

.form-container{
    background: radial-gradient(
        ellipse at left bottom,
        rgba(22, 24, 47, 1) 0%,
        rgba(38, 20, 72, 0.9) 59%,
        rgba(17, 27, 75, 0.9) 100%
        );
 padding: 30px;
 border-radius: 10px;
 box-shadow: 
 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
 -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

}
.whitetext{
    color:#E8D454;
    font-weight: 600;
    float:left;
}
.headerForForm{
    padding-left: 210px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 600;
}
