.swipeText{
    padding-top: 80px;
    color: #E8D454;
}
.cardForSwipe{
    width: 18rem;
    height: 15rem;
    background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
    );
    align-items: center;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
         -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    
}
        
      
    
